h2(align="center") Project Dashboard
script
  $(document).ready(function() {
    LinesOfCodeGraph().init();
  });

div(align="center")
  canvas(id="git", width="1000", height="800")
    [Please wait...]
  canvas(id="git-ratio", width="1000", height="800")
    [Please wait...]
  canvas(id="go", width="1000", height="800")
    [Please wait...]

