h2(align="center") Project Dashboard
script
  $(document).ready(function() {
    LinesOfCodeGraph().init();


    $.getJSON('/git/people', function(data) {
      var people = "<ul>";
      $.each(data, function(key, person) {
          people += "<li style='list-style-type:none; display:inline;padding:3px;background:#efefef;margin:1px;font-size:18px;'><a id='person-" + person +  "' href='#'>" + person + "</a></li>";
          $("#person-" + person).live('click', function() {
            $("[id*='person']").parent().css("background", "#efefef")
            $(this).parent().css("background", "#66ccff");
            $.getJSON('/git/pairs/' + person, function(data) {
              var pairCount = {}, pairs = "";
              $.each(data, function(key, val) {
                pairs += key + " ";
                $.each(val, function(innerKey, innerVal) {
                  pairs += innerVal + " ";
                  if(!pairCount[innerVal]) {
                    pairCount[innerVal] = 0;
                  }
                  pairCount[innerVal] += 1;
                });
                pairs += "<br />";              		
              });
              
              $("#whotheypairedwith").html(pairs);
              
              var maxPairCount = 1;
              $.each(pairCount, function(person, count) {
                if(count > maxPairCount) {
                   maxPairCount = count;
                }
              });

              var timesPaired = "";
              $.each(pairCount, function(person, count) {
                var fontSize = (count / maxPairCount) * 100;                
                timesPaired += "<span title='" + count + " times' style='font-size:" + fontSize + "px; padding:4px;'>" + person + "</span> ";                
              });
               timesPaired += "<br style='clear:both' />";				
               $("#timespaired").html(timesPaired);

            });
          });
      });
      people += "</ul>"
      $("#pairs").html(people);
    });

  });

div(align="center")
  div(id="pairs",align="left")
  div(id="timespaired",align="left")    
  div(id="whotheypairedwith", align="left")
  canvas(id="git", width="1000", height="800")
    [Please wait...]
  canvas(id="git-ratio", width="1000", height="800")
    [Please wait...]
  canvas(id="go", width="1000", height="800")
    [Please wait...]
