h2 Project Dashboard
script
  $(document).ready(function() {
    LinesOfCodeGraph().init();
  });

div(align="center")
  p Number of commits to load:
    input(id="commits-to-load")
  canvas(id="git", width="950", height="750")
    [Please wait...]

div(align="center")
  canvas(id="git-ratio", width="475", height="375")
    [Please wait...]