h2(align="center") Project Dashboard
script
  $(document).ready(function() {
    LinesOfCodeGraph().init();


    $.getJSON('/git/people', function(data) {
      var people = "<ul>";
      $.each(data, function(key, person) {
          people += "<li style='list-style-type:none; display:inline;padding:3px;background:#efefef;margin:1px;font-size:18px;'><a id='person-" + person +  "' href='#'>" + person + "</a></li>";
          $("#person-" + person).live('click', function() {
            $("[id*='person']").parent().css("background", "#efefef")
            $(this).parent().css("background", "#66ccff");

            $.getJSON('/git/pairs/' + person, function(data) {
              var pairCount = {}, pairs = "";
              $.each(data, function(key, val) {
                pairs += key + " ";
                $.each(val, function(person, numberOfCommits) {
                  console.log("key: " + person + " val:" + numberOfCommits);
                  pairs += person + " ";
                  if(!pairCount[person]) {
                    pairCount[person] = { timesPaired : 0, numberOfCommits : 0 };
                  }
                  pairCount[person]["timesPaired"] += 1;
                  pairCount[person]["numberOfCommits"] += numberOfCommits;
                });
                pairs += "<br />";              		
              });
              
              var maxPairCount = 1;
              $.each(pairCount, function(person, options) {
                if(options.timesPaired > maxPairCount) {
                   maxPairCount = options.timesPaired;
                }
              });

              var timesPaired = "", stats = "<table><tr><th>Person</th><th>Times Paired</th><th>Number of Commits</th><th>Commits per pairing</th></tr>";
              $.each(pairCount, function(person, options) {
                var fontSize = (options.timesPaired / maxPairCount) * 100;                
                timesPaired += "<span style='font-size:" + fontSize + "px; padding:4px;'>" + person + "</span> ";     
                stats += "<tr><td align='center'>" + person + "</td><td  align='center'>" + options.timesPaired + "</td><td  align='center'>" + options.numberOfCommits +  "</td><td  align='center'>" + (options.numberOfCommits/options.timesPaired).toFixed(2) +  "</tr>";           
              });
               timesPaired += "<br style='clear:both' />", stats += "</table>";				
               $("#timespaired").html(timesPaired);
               $("#whotheypairedwith").html(stats);
            });

          });
      });
      people += "</ul>"
      $("#pairs").html(people);
    });

  });

div(align="center")
  div(id="pairs",align="left")
  div(id="timespaired",align="left")    
  div(id="whotheypairedwith", align="left")
  canvas(id="git", width="1000", height="800")
    [Please wait...]
  canvas(id="git-ratio", width="1000", height="800")
    [Please wait...]
  canvas(id="go", width="1000", height="800")
    [Please wait...]
