!!! 5
html(lang="en")
  head
    title Project Dashboard
    script(src='RGraph/libraries/RGraph.common.core.js')
    script(src="RGraph/libraries/RGraph.common.context.js")
    script(src="RGraph/libraries/RGraph.common.annotate.js")
    script(src="RGraph/libraries/RGraph.common.tooltips.js")
    script(src="RGraph/libraries/RGraph.common.zoom.js")
    script(src="RGraph/libraries/RGraph.common.resizing.js")
    script(src="RGraph/libraries/RGraph.line.js")
    script(src="RGraph/libraries/RGraph.bar.js")

    script(src="jquery-1.6.2.min.js")
    script(src="jquery.jqplot.js")
    script(src="plugins/jqplot.barRenderer.min.js")
    script(src="plugins/jqplot.categoryAxisRenderer.min.js")
    script(src="plugins/jqplot.pointLabels.min.js")
    script(src="plugins/jqplot.dateAxisRenderer.min.js")

    script(src="underscore-min.js")
    script(src="date.js")
    script(src="linesOfCodeGraph.js")
    script(src="pairs.js")
    link(rel="stylesheet", type="text/css", href="RGraph/css/website.css")
    link(rel="stylesheet", type="text/css", href="style.css")
    link(rel="stylesheet", type="text/css", href="jquery.jqplot.css")

  body
    div!= body